<% provide(:title, 'About') %>

<div class="row">
  <div class="span3">
    <h2>About Free My Food!</h2>
  </div>
  <div class="span9">
    
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <h4>History</h4>
    <p>
      Quisque aliquam ultrices fringilla. Morbi accumsan faucibus varius. Aliquam erat volutpat.
      Aenean justo dolor, scelerisque ac vestibulum interdum, sagittis sed sapien. Mauris
      consequat mi ut nulla malesuada convallis. Mauris eget scelerisque mi. Morbi sagittis porta
      quam vitae faucibus. Vestibulum sit amet elit quis felis laoreet tristique. Suspendisse varius
      tincidunt fringilla. Mauris mollis nunc eget massa consequat rhoncus mattis tortor mollis.
      Suspendisse fermentum pharetra dapibus. Phasellus semper lacus tellus, lacinia facilisis elit.
      Vivamus vitae erat ligula. In vestibulum venenatis lacus nec pellentesque. Etiam nec augue
      ac erat posuere convallis. Morbi luctus quam sit amet ipsum blandit consequat. 
    </p>
    
    <h4>Ongoing Efforts</h4>
    <p>
      Quisque aliquam ultrices fringilla. Morbi accumsan faucibus varius. Aliquam erat volutpat.
      Aenean justo dolor, scelerisque ac vestibulum interdum, sagittis sed sapien. Mauris
      consequat mi ut nulla malesuada convallis. Mauris eget scelerisque mi. Morbi sagittis porta
      quam vitae faucibus. Vestibulum sit amet elit quis felis laoreet tristique. Suspendisse varius
      tincidunt fringilla. Mauris mollis nunc eget massa consequat rhoncus mattis tortor mollis.
      Suspendisse fermentum pharetra dapibus. Phasellus semper lacus tellus, lacinia facilisis elit.
      Vivamus vitae erat ligula. In vestibulum venenatis lacus nec pellentesque. Etiam nec augue
      ac erat posuere convallis. Morbi luctus quam sit amet ipsum blandit consequat. 
    </p>
  </div>
</div>