<% provide(:title, 'Blog') %>

<div class="row">
  <div class="span3">
    <div class="row">
      <div class="span3">
        <h3>Title</h3>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h3>Title</h3>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h3>Title</h3>
      </div>
    </div>
  </div>
  <div class="span9">
    <div class="row">
      <div class="span9">
        <h2>Blog Title</h2>
        <p>
          Donec dolor metus, pretium eu porttitor ut, commodo vel ipsum. Sed dapibus hendrerit
          tempor. In rhoncus porta lectus, non ornare est vestibulum nec. Aliquam at massa
          cursus nibh consequat pharetra. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Aliquam vel metus nunc, ut fermentum nunc.
          Vestibulum augue quam, gravida ut interdum eu, tristique quis nisl. Vestibulum felis
          tellus, lobortis dapibus porta vel, rhoncus quis ante. Praesent posuere lectus eget
          lacus lobortis eleifend. Donec consectetur dignissim sodales. Etiam adipiscing felis
          vel lorem scelerisque vehicula. 
        </p>
        <p>
          Donec dapibus gravida neque, nec ultricies libero adipiscing non. Vestibulum vitae
          risus purus. Duis convallis, diam a condimentum posuere, libero arcu semper felis, vel
          imperdiet tellus eros luctus nibh. Aenean dolor lectus, volutpat at blandit id,
          interdum non ante. Quisque massa dolor, porttitor vel porta a, dignissim sed turpis.
          Nunc velit leo, sagittis vitae blandit ac, ultrices in justo. Morbi vel mauris lacus,
          nec dictum tellus.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span9">
        <h2>Blog Title</h2>
        <p>
          Donec dolor metus, pretium eu porttitor ut, commodo vel ipsum. Sed dapibus hendrerit
          tempor. In rhoncus porta lectus, non ornare est vestibulum nec. Aliquam at massa
          cursus nibh consequat pharetra. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Aliquam vel metus nunc, ut fermentum nunc.
          Vestibulum augue quam, gravida ut interdum eu, tristique quis nisl. Vestibulum felis
          tellus, lobortis dapibus porta vel, rhoncus quis ante. Praesent posuere lectus eget
          lacus lobortis eleifend. Donec consectetur dignissim sodales. Etiam adipiscing felis
          vel lorem scelerisque vehicula. 
        </p>
        <p>
          Donec dapibus gravida neque, nec ultricies libero adipiscing non. Vestibulum vitae
          risus purus. Duis convallis, diam a condimentum posuere, libero arcu semper felis, vel
          imperdiet tellus eros luctus nibh. Aenean dolor lectus, volutpat at blandit id,
          interdum non ante. Quisque massa dolor, porttitor vel porta a, dignissim sed turpis.
          Nunc velit leo, sagittis vitae blandit ac, ultrices in justo. Morbi vel mauris lacus,
          nec dictum tellus.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span9">
        <h2>Blog Title</h2>
        <p>
          Donec dolor metus, pretium eu porttitor ut, commodo vel ipsum. Sed dapibus hendrerit
          tempor. In rhoncus porta lectus, non ornare est vestibulum nec. Aliquam at massa
          cursus nibh consequat pharetra. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Aliquam vel metus nunc, ut fermentum nunc.
          Vestibulum augue quam, gravida ut interdum eu, tristique quis nisl. Vestibulum felis
          tellus, lobortis dapibus porta vel, rhoncus quis ante. Praesent posuere lectus eget
          lacus lobortis eleifend. Donec consectetur dignissim sodales. Etiam adipiscing felis
          vel lorem scelerisque vehicula. 
        </p>
        <p>
          Donec dapibus gravida neque, nec ultricies libero adipiscing non. Vestibulum vitae
          risus purus. Duis convallis, diam a condimentum posuere, libero arcu semper felis, vel
          imperdiet tellus eros luctus nibh. Aenean dolor lectus, volutpat at blandit id,
          interdum non ante. Quisque massa dolor, porttitor vel porta a, dignissim sed turpis.
          Nunc velit leo, sagittis vitae blandit ac, ultrices in justo. Morbi vel mauris lacus,
          nec dictum tellus.
        </p>
      </div>
    </div>
  </div>
</div>