<% provide(:title, 'Causes') %>

<h2>Get in the Know!</h2>
<h4>These are some of my favorite resources for agriculture related information.</h4>

<div class="row">
  <div class="span4">
    <%= link_to image_tag("foodproject.jpg", alt: "The Food Project"), 'http://thefoodproject.org' %>
  </div>
  <div class="span8">
    Blah blah blah
  </div>
</div>
<div class="row">
  <div class="span8">
    Blah blah blah
  </div>
  <div class="span4">
    <%= link_to image_tag("mug_logo.jpg", alt: "Milwaukee Urban Gardens"), 'http://milwaukeeurbangardens.org' %>
  </div>
</div>