<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1 class="text inset">Welcome to Free My Food!</h1>

  <h3 class="text">
    This is the home page for <span class="">Free My Food!</span>. A place for
    people to learn a bit more about where their food comes from and how economics
    and politics influence their food options.
  </h2>
  <div class="row">
    <div class="span2 offset8">
      <%= link_to "Learn More!", about_path, class: "btn btn-large btn-primary box pull-right" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <p class="redBackground">And on jeepers the the and far fired lantern flabbily less one this due obedient goldfish beneath hey preparatory in naughty expeditious but jeepers hen roadrunner dug far this.

       Angelfish with removed a one toward dog uniquely rat rewrote far and clinic as hey bluntly ungraceful less lingering darn and.

       Hello up lazy hello black gull explicit antagonistically angry jeez through ouch poorly hyena unintelligibly a hello and in one less one exquisite grasshopper one wherever noiselessly mastodon manta one more however goldfish gnu.
    </p>
  </div>
  <div class="span4 offset4">
    <p class="blueBackground second">And on jeepers the the and far fired lantern flabbily less one this due obedient goldfish beneath hey preparatory in naughty
       expeditious but jeepers hen roadrunner dug far this.
       Angelfish with removed a one toward dog uniquely rat rewrote far and clinic as hey bluntly ungraceful less lingering darn and.
       Hello up lazy hello black gull explicit antagonistically angry jeez through ouch poorly hyena unintelligibly a hello and in
       one less one exquisite grasshopper one wherever noiselessly mastodon manta one more however goldfish gnu.
    </p>
  </div>
</div>
<div class="row dotted">
  <div class="span2">
    <p class="redBackground">And on jeepers the the and far fired lantern flabbily less one this due obedient goldfish beneath hey preparatory in naughty
       expeditious but jeepers hen roadrunner dug far this.
       Angelfish with removed a one toward dog uniquely rat rewrote far and clinic as hey bluntly ungraceful less lingering darn and.
       Hello up lazy hello black gull explicit antagonistically angry jeez through ouch poorly hyena unintelligibly a hello and in
       one less one exquisite grasshopper one wherever noiselessly mastodon manta one more however goldfish gnu.
    </p>
  </div>
  <div class="span8 offset2">
    <p class="blueBackground second">And on jeepers the the and far fired lantern flabbily less one this due obedient goldfish beneath hey preparatory in naughty
       expeditious but jeepers hen roadrunner dug far this.
       Angelfish with removed a one toward dog uniquely rat rewrote far and clinic as hey bluntly ungraceful less lingering darn and.
       Hello up lazy hello black gull explicit antagonistically angry jeez through ouch poorly hyena unintelligibly a hello and in
       one less one exquisite grasshopper one wherever noiselessly mastodon manta one more however goldfish gnu.
    </p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <p class="redBackground">Here is some text:</p>
  </div>
  <div class="span9">
    <table class="table table-hover blueBackground second">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Blog</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Michael Vezzani</td>
          <td>mjvezzani@gmail.com</td>
          <td>555-555-5555</td>
          <td>freemyfood.wordpress.com</td>
        </tr>
        <tr>
          <td>Sarah Vezzani</td>
          <td>s.vezzani@gmail.com</td>
          <td>555-555-7777</td>
          <td>wifeofvezzani.wordpress.com</td>
        </tr>
        <tr>
          <td>Michael Vezzani</td>
          <td>mjvezzani@gmail.com</td>
          <td>555-555-5555</td>
          <td>freemyfood.wordpress.com</td>
        </tr>
        <tr>
          <td>Sarah Vezzani</td>
          <td>s.vezzani@gmail.com</td>
          <td>555-555-7777</td>
          <td>wifeofvezzani.wordpress.com</td>
        </tr>
        <tr>
          <td>Michael Vezzani</td>
          <td>mjvezzani@gmail.com</td>
          <td>555-555-5555</td>
          <td>freemyfood.wordpress.com</td>
        </tr>
        <tr>
          <td>Sarah Vezzani</td>
          <td>s.vezzani@gmail.com</td>
          <td>555-555-7777</td>
          <td>wifeofvezzani.wordpress.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

